# Created by .ignore support plugin (hsz.mobi)
dist/
/dist
.idea/
/.idea
.git/
/.git
/node_modules
node_modules/
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
README.md
build/
chat/
config/
index.html
package.json
src/
static/
